body {
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #11224e;
}

.text-primary {
    color: #777;
}

p {
    font-size: 16px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a, a:hover, a:focus, a:active, a.active {
    outline: none;
}

a {
    color: #11224e;
}

a:hover, a:focus, a:active, a.active {
    color: #11224e;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #eeeeee;
}

.bg-darkest-gray {
    background-color: #222222;
}

.btn-primary {
    color: white;
    background-color: #11224e;
    border-color: #11224e;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #11223e;
    border-color: #11223e;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #11223e;
    border-color: #11223e;
}

.btn-primary .badge {
    color: #11223e;
    background-color: white;
}

.btn-xl {
    color: white;
    background-color: #11224e;
    border-color: #000;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0px;
    font-size: 18px;
    padding: 10px 20px;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #11223e;
    border-color: #11223e;
}

.green {
    background-color: #11224e;
    border-color: #11224e;
}

.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: #11223e;
    border-color: #11223e;
}

.btn-xl .badge {
    color: #11223e;
    background-color: white;
}

.navbar-custom {
    background-color: #11224e;
    border-color: transparent;
}



.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
    text-align: center;
}

.navbar-custom .navbar-toggle {
    background-color: white;
    border-color: white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #11224e;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
    background-color: #11224e;
    color: white;
}

.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    color: rgba(255,255,255,0.75);
}

.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    color: white;
    outline: none;
}

.navbar-custom .navbar-nav>.active>a {
    border-radius: 0;
    color: white;
    background-color: #11224e;
}

.navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus {
    color: white;
    background-color: #11223e;
}

 .navbar-brand img{
        margin-top: -30px;
    }

@media (min-width: 768px) {
    .navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: px;
    color: rgba(255,255,255,0.75);
    padding-top: 0px;
}
    
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .navbar-custom .navbar-nav>.active>a {
        border-radius: 3px;
    }
}

@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #11224e;
        padding: 10px 0;
        height: 120px;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
    
    .navbar-brand img{
        margin-top: -60px;
    }
}

header {
    background-image: url('../img/overlay-tranportationcity.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: left;
    color: white;
    height: 750px;
}

header .intro-text {
    padding-top: 300px;
    padding-bottom: 50px;
    float: left; 
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 50px;
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 20px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 50px;
    }
}

section {
    padding: 50px 0;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 20px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 75px;
    color: #11224e;
}

@media (min-width: 768px) {
    section {
        padding: 50px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

section#bottom {
    background-color: #F8F8F9;
}

section#bottom .section-heading {
    color: #11224e;
}


section#contact {
    background-color: #11224e;
}

section#contact .section-heading {
    color: white;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 10px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #11224e;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    background-color: #11224e;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #11223e;
}

.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: none;
    padding-bottom: 100px;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.welcome {
    padding-top: 50px;
    padding-bottom: 70px;
}

#contact-subheading {
    color: white;
}

#content {
    padding-bottom: 50px;
}

/* CONTACT */

#contact-rsvp input[type="text"],
#contact-rsvp input[type="email"],
#contact-rsvp input[type="tel"],
#contact-rsvp input[type="url"],
#contact-rsvp textarea,
#contact-rsvp button[type="submit"] {
  font: 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact-rsvp {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  float: right;
  margin-top: -50px;
}

#contact-rsvp h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #11224e;
}

#contact-rsvp h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 15px;
  line-height: normal;
  color: #11224e;
  text-transform: capitalize;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact-rsvp input[type="text"],
#contact-rsvp input[type="email"],
#contact-rsvp input[type="tel"],
#contact-rsvp input[type="url"],
#contact-rsvp textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  color: #11224e:
}

#contact-rsvp input[type="text"]:hover,
#contact-rsvp input[type="email"]:hover,
#contact-rsvp input[type="tel"]:hover,
#contact-rsvp input[type="url"]:hover,
#contact-rsvp textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact-rsvp textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact-rsvp button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #11224e;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact-rsvp button[type="submit"]:hover {
  background: #11223e;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact-rsvp button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact-rsvp input:focus,
#contact-rsvp textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media only screen and (min-width: 984px) {
    #contact-rsvp{
        margin-top: 310px;
    }
}

.top-page {
    background-image: url('../img/wheelchair2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: left;
    color: white;
    height: 450px;
    margin-bottom: 80px;
}

.top-page .intro-text {
    padding-top: 200px;
    padding-bottom: 50px;
    float: left;
    position: 
}

.top-page .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}

.top-page .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media only screen and (max-width:984px){
    
    .top-page .intro-text {
    padding-top: 150px;
    padding-bottom: 0px;
    float: left;
    position: 
}

.top-page .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
}

.top-page .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 25px;
    }
}
.p-services {
    margin: 5px 0 15px;
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #11224e;
}

.cl-bt-services {
    margin-bottom: -100px;
}

.cl-services {
    margin-top: -100px;
}

@media only screen and (max-width:984px){
     .cl-bt-services {
    margin-bottom: 0px;
        }

    .cl-services {
    margin-top: -50px;
    }   
}

/* accordion */

#accordion {
    background-color: transparent;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-heading {
  padding: 5px;
  border: 0px solid;
}

.panel-title a{
  padding:10px; 
  display:block;
  text-decoration: none;
  color: #11224e;
  background-color: white;
}

.panel-title a[aria-expanded='true'] {
  background-color: #11224e;
  color:#fff;
}

.panel-title a[aria-expanded='true']::after {
  color:white;
}
.panel-default {
    border: 0px solid;
    background-color: transparent;
    box-shadow: 0px 0px 0px;
}
