/* --------------------------------

Primary style

-------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto');

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 18px;
  position: relative;
}

.jumbotron {
  padding: 12rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0rem;
  height: 50rem;
  background: url(../img/city-transportation-traffic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.display-1 {
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.1;
  color: white;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 30px;
}



@media only screen 
  and (orientation: landscape) 
  and (min-width: 768px) {
}

.navbar-brand {
  display:inline;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav {
    
}
